<!DOCTYPE HTML>
<html>
    <head>
        <title>Truly simple video chat Create room, share link to unlimited friend</title>
        <link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
        <link href="/css/theme.css" rel='stylesheet' type='text/css' />
        <!-- Custom Theme files -->
        <link href="/css/custom.css" rel='stylesheet' type='text/css' />

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" src="/js/lib/jquery-min.js"></script>
        <script type="text/javascript" src="/js/index.js"></script>

        <link rel="icon" type="image/png" href="/images/logo.png">

        <!-- start-smoth-scrolling-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        </script>
        <!--webfonts-->
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
        <!---//webfonts-->
    </head>
    <body>
        <!--- start-header-->
            <div id="home" class="header">
                    <div class="top-header">
                        <div class="container">
                        <div class="logo">
                            <a href="#"><img src="images/logo.png" title="Chat"/>Chat</a>
                        </div>
                        <div class="clearfix"> </div>
                        <!-- top-header-info -->
                        <div class="top-header-info">
                            <p>
                                Truly simple video chat<br/>
                                Create room, share link to unlimited friend
                            </p>
                            <form id="roomForm">
                                <input type="text" class="input" placeholder="Room name" id="room">
                                <input class="submit" type="submit" value="Start chating" />
                            </form>
                        </div>
                        <!--//End-header-info-->
                    </div>
                </div>
            </div>
            <!--- //End-header-->
            <!-- about us -->
            <div class="aboutus">
                <div class="container">
                    <div class="col-md-6 aboutus-left">
                        <h2>How it works</h2>
                        <span> </span>
                        <p>Our target is to make the easiest chat application</p>
                        <ul>
                            <li>Start by selecting your room name and your name</li>
                            <li>Share the link with unlimited friends</li>
                            <li>Start talk :)</li>
                        </ul>
                    </div>
                    <div class="col-md-6 aboutus-right">
                        <h2>Security & privacy</h2>
                        <span> </span>
                        <p>Your privacy is our number one concern</p>
                        <ul>
                            <li>we keep no history about usernames in the room</li>
                            <li>We keep no history about your chat</li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <!-- about us -->
            <!-- QUOTE -->
            <div class="quote text-center">
                <div class="container">
                    <p>I like to stay in touch with you, for feedback or problems please contact me at <a href="mailto:chat@eslam.me">chat@eslam.me</a></p>
                </div>
            </div>
            <!-- //QUOTE -->
    </body>
</html>
